*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin: 0px;
}

table{
    width: 95px;
    margin: 150px auto;
    border-collapse: collapse;
}

th, td{

    border: 1px solid oldlace;
    padding: 10px 58px;
    text-align: right;
}

tr:nth-child(even) {
    background-color: aquamarine;
}

th {
    background-color: bisque;
}

h1{
    text-align: center;
    color: chocolate;
}
p{
    text-align: center;
    color: black;
}
